<!DOCTYPE html>
<html>

<head>
    <title>Dog info</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/static/hmoe.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script> <!-- For use Vue.JS -->
</head>

<body>

    <!--  Navbar Start--------------------------------------------------------------------------------------------------->
    <%- include('navbar') %>
    <!--  Navbar End------------------------------------------------------------------------------------------------->
      <!--  Topbar Start------------------------------------------------------------------------------------------------->
      <nav class="navbar navbar-expand-lg " id="topbar">
            <div class="container">
                <div class = "mr-auto"><i class="fas fa-dog"></i></div>
                <div class = "mr-auto"><i class="fas fa-star"></i></div>
                <div class = ><i class="fas fa-search"></i></div>
                <div class = "ml-auto"><i class="fas fa-user-md"></i></div>
                <div class = "ml-auto"><i class="fas fa-briefcase-medical"></i></div>
            </div>
        </nav>
        <!--  Topbar End------------------------------------------------------------------------------------------------->
    <div class="container">
        <div class="row">
            <!--  Side bar Start--------------------------------------------------------------------------------------------->
            <%- include('sidebar') %>
            <!--Side bar End---------------------------------------------------------------------------------------------->
            <!--Dog info start---------------------------------------------------------------------------------------------->
            <div class="col-8 content">
                <div id="doginfo" class="row">
                    <div class="col-4"><img id="dogprofilepics" src="/image/dog/<%=dogPic%>" alt=""></div>
                    <div class="col-5">
                        <h1><%=dogName%></h1>
                        <table>
                            <tr>
                                <td>Breed</td>
                                <td> : </td>
                                <td><%=breed%></td>
                            </tr>
                            <tr>
                                <td>Age</td>
                                <td> : </td>
                                <td><%=age%></td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td> : </td>
                                <td><%=gender%></td>
                            </tr>
                        </table>

                    </div>
                </div>
                <!--Dog info end---------------------------------------------------------------------------------------------->
                <!--Schedule start---------------------------------------------------------------------------------------------->
                <h1 id="schedulehead"></h1>
                <table class="schedule ">
                    <thead class="schedule">
                        <tr id = "dayfull">
                            <td class="dogday">Sunday</td>
                            <td class="dogday">Monday</td>
                            <td class="dogday">Tuesday</td>
                            <td class="dogday">Wednesday</td>
                            <td class="dogday">Thursday</td>
                            <td class="dogday">Friday</td>
                            <td class="dogday">Saturday</td>
                        </tr>
                        <tr id = "dayacro">
                            <td class="dogday">Sun</td>
                            <td class="dogday">Mon</td>
                            <td class="dogday">Tue</td>
                            <td class="dogday">Wed</td>
                            <td class="dogday">Thu</td>
                            <td class="dogday">Fri</td>
                            <td class="dogday">Sat</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i<5; i++) {%>
                            <tr>
                                <% for(var j=0; j<7; j++) {%>
                                    <td class = "dogeachday">1</td>
                                <% } %>     
                            </tr>
                         <% } %>
                    </tbody>
                </table>
                <div class = "row">
                    <div class = "rounded col-6"  align ="left">
                        <button id = "prembtn" class = "btn" onclick="preMonth()">Last month</button>
                    </div>
                    <div class = "rounded col-6"  align ="right">
                        <button id = "nxtmbtn" class = "btn" onclick="nxtMonth()">Next month</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Schedule end---------------------------------------------------------------------------------------------->
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/homee.js"></script>
<script>
    var datee = new Date();
    var month = datee.getMonth();
    var year = datee.getFullYear();
    var monthlist = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
    document.getElementById("schedulehead").innerHTML = "Appointment schedule : " + monthlist[month] + " " + year;

    function nxtMonth(){
        if(month == 11)month = -1; 
        document.getElementById("schedulehead").innerHTML = "Appointment schedule : " + monthlist[++month] + " " + year;
    }
    function preMonth(){
        if(month == 0)month = 12; 
        document.getElementById("schedulehead").innerHTML = "Appointment schedule : " + monthlist[--month] + " " + year;
    }

    function mouseOver(j){
        document.getElementById(j).style.backgroundColor = "rgb(225, 220, 212)";  
    }
    function mouseOut(j){
        document.getElementById(j).style.backgroundColor = "rgb(255, 238, 212)";
    }
</script>

</html>