<!DOCTYPE html>
<html>

<head>
    <title>Dog info</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/static/hmoe.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script> <!-- For use Vue.JS -->
</head>

<body>

    <!--  Navbar Start--------------------------------------------------------------------------------------------------->
    <%- include('navbar') %>
    <!--  Navbar End------------------------------------------------------------------------------------------------->
    <!--  Topbar Start------------------------------------------------------------------------------------------------->
    <!-- <%- include('topbar') %> -->
    <!--  Topbar End------------------------------------------------------------------------------------------------->
    <div class="containerr">
        <div class="row">
            <!--  Side bar Start--------------------------------------------------------------------------------------------->
            <%- include('sidebar') %>
            <!--Side bar End---------------------------------------------------------------------------------------------->
            <!--Dog info start---------------------------------------------------------------------------------------------->
            <div style="background-color:transparent;" class="col-7 content">
                <div  id="doginfo" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" class="row">
                    <div class="col-4"><img id="dogprofilepics" src="/image/dog/<%=dogObj.dogAvatar%>" alt=""></div>
                    <div class="col-4">
                        <h1>
                            <%=dogObj.name%>
                        </h1>
                        <table>
                            <tr>
                                <td>Breed</td>
                                <td> : </td>
                                <td>
                                    <%=dogObj.breed%>
                                </td>
                            </tr>
                            <tr>
                                <td>Age</td>
                                <td> : </td>
                                <td>
                                    <%=dogObj.age%>
                                </td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td> : </td>
                                <td>
                                    <%=dogObj.gender%>
                                </td>
                            </tr>
                            <tr>
                                <td>Disease</td>
                                <td> : </td>
                                <td>
                                    <%=dogObj.dis%>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-3">
                        <button id="updatedog" class="btn doginfobtn listbtn" data-toggle="modal" data-target="#updatedogModal">
                            <h5 class="listbtn">Update Dog info</h5>
                        </button>
                        <button id="deletedog" class="btn doginfobtn listbtn" data-toggle="modal" data-target="#deletedogModal">
                            <h5 class="listbtn">Delete Dog account</h5>
                        </button>

                    </div>
                </div>
                <!--Dog info end---------------------------------------------------------------------------------------------->
                <!--Dog info update modal start---------------------------------------------------------------------------------------------->
                <div class="modal fade" id="updatedogModal" tabindex="-1" role="dialog" aria-labelledby="updatedogTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updatedogTitle">Update dog info</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h3>Update to</h3>
                                <form action="/editDog" method="POST">
                                    <div class="form-group">
                                        <label>Name:</label>
                                        <input required type="text" name="dogName" value="<%=dogObj.name%>" class="form-control"
                                            placeholder="name">
                                        <input style="display:none" readonly required type="text" name="oldName" value="<%=dogObj.name%>"
                                            class="form-control" placeholder="name">
                                    </div>
                                    <div class="form-group">
                                        <label>Age(year):</label>
                                        <input required type="number" min="0" name="dogAge" value="<%=dogObj.age%>"
                                            class="form-control" placeholder="age">
                                    </div>
                                    <!-- <div class="form-group">
                                        <label>Breed:</label>
                                        <input required type="text" name="dogBreed" value="" class="form-control"
                                            placeholder="breed">
                                    </div> -->
                                    <div class="form-group">
                                        <label>Breed:</label>
                                        <select required class="custom-select rect-field" name="dogBreed" placeholder="breed">
                                            <option value="" disabled selected>Select your breed</option>
                                            <option value="Siberian husky">Siberian husky</option>
                                            <option value="Golden Retriever">Golden Retriever</option>
                                            <option value="Corgi">Corgi</option>
                                            <option value="Pug">Pug</option>
                                            <option value="German sheperd">German sheperd</option>


                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Gender:</label><br>
                                        <input type="radio" name="gender" value="male"> Male
                                        <input type="radio" name="gender" value="female"> Female<br>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--Dog info update modal end---------------------------------------------------------------------------------------------->
                <!--Dog info delete modal start---------------------------------------------------------------------------------------------->
                <div class="modal fade" id="deletedogModal" tabindex="-1" role="dialog" aria-labelledby="deletedogTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deletedogTitle">Delete dog account</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure?, your dog's data and appointment data will lost permanently.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <a href="/deletedog"> <button type="button" class="btn btn-primary">Confirm</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Dog info delete modal end---------------------------------------------------------------------------------------------->

                <!--Schedule start---------------------------------------------------------------------------------------------->
                <h1 style="margin-top: 20px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" id="schedulehead"></h1>
                <table style="background-color:transparent;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" class="schedule ">
                    <thead class="schedule">
                        <tr id="dayfull">
                            <td class="dogday">Sunday</td>
                            <td class="dogday">Monday</td>
                            <td class="dogday">Tuesday</td>
                            <td class="dogday">Wednesday</td>
                            <td class="dogday">Thursday</td>
                            <td class="dogday">Friday</td>
                            <td class="dogday">Saturday</td>
                        </tr>
                        <tr id="dayacro">
                            <td class="dogday">Sun</td>
                            <td class="dogday">Mon</td>
                            <td class="dogday">Tue</td>
                            <td class="dogday">Wed</td>
                            <td class="dogday">Thu</td>
                            <td class="dogday">Fri</td>
                            <td class="dogday">Sat</td>
                        </tr>
                    </thead>
                    <tbody id="calendar">
                        <!-- calendar startt -->
                        <%var date = new Date()%>


                        <%var datee = 1;%>
                        <%date.setDate(1);%>
                        <%var dayy = date.getDay();;%>

                        <%var monthh = date.getMonth();%>
                        <%var yearr  = date.getYear();%>
                        <%var limitt = new Date(yearr, monthh, 0).getDate();%>
                        <%var check = 0; %>
                        <% for(var i=0; i<6; i++) {%>
                        <tr>
                            <% for(var j=0; j<7; j++) {%>
                            <% if (j == dayy){ %>
                            <% check = 1; %>
                            <% } %>
                            <% if (check == 0){%>
                            <td class="eachday"> </td>
                            <% }else{%>
                            <% if(datee < limitt){%>

                            <%var dayee = datee+""+monthh+yearr %>

                            <% if(events.includes(dayee)) {%>
                            <td class="eachday" style="background-color:coral">


                                <div id="butt" onclick="eachdayclick(this.innerHTML)">
                                    <%= datee %>
                                </div>
                            </td>


                            <% }else{%>
                            <td class="eachday">


                                <div id="butt" onclick="eachdayclick(this.innerHTML)">
                                    <%= datee %>
                                </div>
                            </td>
                            <% } %>
                            <% datee++; %>
                            <% }else{%>
                            <td class="eachday"> </td>
                            <% } %>
                            <% } %>

                            <% } %>
                        </tr>
                        <% } %>
                        <% check = 0; %>
                        <!-- calendar endd-->
                    </tbody>
                </table>
                <!--appointment modal start---------------------------------------------------------------------------------------------->
                <div class="modal fade" id="daydogModal" tabindex="-1" role="dialog" aria-labelledby="deletedogTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deletedogTitle">Appointment info</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id=dogdayshow></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <a href="/deletedog"> <button type="button" class="btn btn-primary">Confirm</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--appointment modal end---------------------------------------------------------------------------------------------->
                <div class="row">
                    <div class="rounded col-6" align="left">
                        <button id="prembtn" class="btn"">Last month</button>
                    </div>
                    <div class = "
                            rounded col-6" align="right">
                            <button id="nxtmbtn" class="btn"
                                ">Next month</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Schedule end---------------------------------------------------------------------------------------------->
    </div>
</body>
<script src="
                                https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                                crossorigin="anonymous"></script>
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                                    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                                    crossorigin="anonymous"></script>
                                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                                    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                                    crossorigin="anonymous"></script>
                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                                <script src="/static/homee.js"></script>
                                <script src="/static/calendar_dog.js"></script>

</html>