<!DOCTYPE html>
<html>

<head>
    <title>Dogetor</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <link rel="stylesheet" href="static/hmoe.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script> <!-- For use Vue.JS -->
</head>

<body link = "black">
    <!--  Navbar Start--------------------------------------------------------------------------------------------------->
    <%- include('navbar') %>
    <!--  Navbar End------------------------------------------------------------------------------------------------->
    <!--  Topbar Start------------------------------------------------------------------------------------------------->
    <!-- <%- include('topbar') %> -->
    <!--  Topbar End------------------------------------------------------------------------------------------------->
    <div class="containerr my-custom-container">
        <div class="row">
            <!--  Side bar Start--------------------------------------------------------------------------------------------->
            <%- include('sidebar') %>
            
            <!--Side bar End---------------------------------------------------------------------------------------------->
            
            <div class="col-8" >
                <div class = "calendar content">
                        <h1 id="schedulehead"></h1>
                        <table class="schedule ">
                            <thead>
                                <tr id = "dayfull">
                                    <td class="day">Sunday</td>
                                    <td class="day">Monday</td>
                                    <td class="day">Tuesday</td>
                                    <td class="day">Wednesday</td>
                                    <td class="day">Thursday</td>
                                    <td class="day">Friday</td>
                                    <td class="day">Saturday</td>
                                </tr>
                                <tr id = "dayacro">
                                    <td class="day">Sun</td>
                                    <td class="day">Mon</td>
                                    <td class="day">Tue</td>
                                    <td class="day">Wed</td>
                                    <td class="day">Thu</td>
                                    <td class="day">Fri</td>
                                    <td class="day">Sat</td>
                                </tr>
                            </thead>
                            <tbody id = "calendar">
                                <!-- calendar startt -->
                                <%var date = new Date();%>
                                <%var datee = 1;%>
                                <%date.setDate(1);%>
                                <%var dayy = date.getDay();%>
                                <!-- <%= dayy%> -->
                                <%var monthh = date.getMonth();%>
                                <%var yearr  = date.getYear();%>
                                <%limitt = new Date(yearr, monthh, 0).getDate();%>
                                <%var check = 0; %> 
                                <% for(var i=0; i<6; i++) {%>
                                    <tr>
                                        <% for(var j=0; j<7; j++) {%>
                                            <% if (j == dayy){ %>
                                                <% check = 1; %>
                                            <% } %>
                                            <% if (check == 0){%>
                                                <td class = "eachday"> </td>
                                            <% }else{%>
                                                <% if(datee < limitt){%>
                                                    <%var dayee = datee+""+monthh+""+yearr %>
                                                                
                                                                <% if(events.includes(dayee)) {%>
                                                                <td class = "eachday" style="background-color:coral" >                                  
                                                                    
                                                                   <div id="butt" onclick="eachdayclick(this.innerHTML)" ><%= datee %></div></td>
                                                                
                                                                
                                                                <% }else{%>
                                                                    <td class = "eachday">                                  
                                                                    
                                                                        <div id="butt" onclick="eachdayclick(this.innerHTML)" ><%= datee %></div></td>
                                                                <% } %>
                                                                <% datee++; %>
                                                <% }else{%>
                                                    <td class = "eachday"> </td>
                                                <% } %>
                                            <% } %>
                                            
                                        <% } %>     
                                    </tr>
                                <% } %>
                                <% check = 0; %>
                                
                                    <!-- calendar endd-->
                            </tbody>
                            
                        </table>
                        <!--appointment modal start---------------------------------------------------------------------------------------------->
                        <div class="modal fade" id="dayModal" tabindex="-1" role="dialog" aria-labelledby="deletedogTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="deletedogTitle">Appointment info</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <div id = dayshow></div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                  <a href="#"> <button type="button"  class="btn btn-primary">Confirm</button></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        <!--appointment modal end---------------------------------------------------------------------------------------------->
                        <div class = "row">
                                <div class = "rounded col-6"  align ="left">
                                    <button id = "prembtn" class = "btn listbtn">Last month</button>
                                </div>
                                <div class = "rounded col-6"  align ="right">
                                    <button id = "nxtmbtn" class = "btn listbtn">Next month</button>
                                </div>
                            </div>
                </div>
            </div>
        </div>
  
    </div>
    <% if(errors){ %>
        <% for (var error of errors){%>
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%=error.msg %>
        </div>
        <% } %>
        <% } else{ %>
        <% } %>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/homee.js"></script>
<script src="/static/calendar_home.js"></script>

<script>
    
    

        history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    
    };  
    </script>
</html>