<!DOCTYPE html>
<html>

    <head>
        <title>Analyze</title>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
            crossorigin="anonymous">
        <link rel="stylesheet" href="/static/hmoe.css">
        <link rel="stylesheet" href="/static/analyze.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script> <!-- For use Vue.JS -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> <!-- For Thai lang. -->
    </head>

    <body>

    <!--  Navbar Start--------------------------------------------------------------------------------------------------->
    <%- include('navbar') %>
    <!--  Navbar End------------------------------------------------------------------------------------------------->
    <!--  Topbar Start------------------------------------------------------------------------------------------------->
    <!-- <nav class="navbar navbar-expand-lg obj-hide" id="topbar"></nav> -->
    <!--  Topbar End------------------------------------------------------------------------------------------------->
    <div class="container">
        <div class="row">
            <!--  Side bar Start--------------------------------------------------------------------------------------------->
            <%- include('sidebar') %>
            <!--Side bar End---------------------------------------------------------------------------------------------->

            <!--  Analyze part Start ---------------------------------------------------------------------------------------------->
            <div class="col-8 content">
                    <div style="position:absolute; top:50px; left:60px;">
                            <!-- Symptom box -->
                            
                            <div class="head-result" style="position:relative; top:15px; left:205px"><h2>Info</h2></div>
                            <div class="box-result" style="position:relative; top:15px;">
                                    <ul class="text-result  " style="list-style-type: none;" type="none">
                                            <li >Name :<%=infodog.name %> </li>
                                            <li >Age :<%=infodog.age %> </li>
                                            <li >Breed :<%=infodog.breed %> </li>
                                            <li >Gender :<%=infodog.gend %> </li>             
                                    </ul>
                            </div>
                            <div class="head-result" style="position:relative; top:15px; left:205px"><h2>Symptom</h2></div>
                            <div class="box-result" style="position:relative; top:15px;">
                                <ul class="text-result" type="none">
                                    <% for (var sym of sym){%>
                                        <li><%=sym%></li> 
                                    <% } %>
                                </ul>
                            </div>
                            <!-- Result box -->
                            <div class="head-result" style="position:relative; top:30px; left:205px"><h2>Result</h2></div>
                            <div class="box-result" style="position:relative; top:30px;">
                                <ul class="text-result" type="none">
                                    
                                    <% for (var result of result){%>
                                        <li><%=result%></li> 
                                    <% } %>
                                </ul>
                            </div>
                        </div>
            </div>
                <!--  Analyze part End ---------------------------------------------------------------------------------------------->
                 <!--  Login Modal start------------------------------------------------------------------------------------------------->
    <div class="modal fade" id="Loginmodal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LoginModalLabel">LOG IN</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div align="center">
                            <div id="loginpics"></div>
                        </div>
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8">
                                <form action="/login" method="POST">

                                    <div class="form-group">
                                        <label for="username">Username:</label>
                                        <input type="text" class="form-control" name="username" placeholder="username">

                                    </div>

                                    <div class="form-group">
                                        <label for="pwd">Password:</label>
                                        <input type="password" class="form-control" name="password" placeholder="password">
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary ">Log in</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--  Login Modal End------------------------------------------------------------------------------------------------->
    <!--  Regis Modal Start------------------------------------------------------------------------------------------------->
    <div class="modal fade" id="Registermodal" tabindex="-1" role="dialog" aria-labelledby="RegisterModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LoginModalLabel">Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- <div class="col-1"></div> -->
                            <div class="col-12">
                                <form action="/" method="POST" enctype="multipart/form-data">

                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <span class="btn btn-default btn-file">
                                                    Browse… <input type="file" id="imgInp" onchange="chng()" accept="image/*"
                                                        name="uploaded_image">
                                                </span>
                                            </span>

                                        </div>
                                        <img id='img-upload' />
                                    </div>

                                    <div class="form-group">
                                        <label for="username">Username:</label>
                                        <input type="text" pattern="[A-Za-z0-9]+" class="form-control" name="username"
                                            placeholder="username">

                                    </div>

                                    <div class="form-group">
                                        <label for="email">Email:</label>
                                        <input type="email" class="form-control" name="email" placeholder="email">
                                    </div>

                                    <div class="form-group">
                                        <label for="pwd">Password:</label>
                                        <input id="password1" type="password" class="form-control" name="pwd"
                                            placeholder="password" oninput="passwordcheck()">
                                    </div>

                                    <div class="form-group">
                                        <label for="Cpwd">Confirm Password:</label>
                                        <input id="password2" type="password" class="form-control" name="Cpwd"
                                            placeholder="Confirm password" oninput="passwordcheck()">
                                    </div>
                                    <div id="alertpw">

                                    </div>

                                    <div class="modal-footer">
                                        <div class="row ">
                                            <button type="submit" class="col btn btn-primary ">Register</button>
                                            <button type="submit" class="col btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--  Regis Modal End------------------------------------------------------------------------------------------------->

</body>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/homee.js"></script>
    <script src="/static/analyze.js"></script>
    
</html>