<div class="col-lg-3 sticky-top" id="sidebar1" >
    <div class ="rounded-bottom" id="sidebar">
        <div class="sidebarComp">
            <img id="profile" src="/image/user/<%=info.avatar%>"> <!-- userpics----->
            <h5 id=username><%=info.username%></h5> <!-- username----->
            <div><%=dog.length%> dogs</div>
        </div>
        <div class="sidebarComp">
                <!-- <a href="AnalyzeReg.html"></a> -->
                <a style="text-decoration:none;" href="#" data-toggle="modal"  data-target="#Updatemodal">
                    <div id="updatebtn" class="listTitle rounded">
                        <h5 class = "listbtn"><i class="fas fa-cog"></i> Edit Profile</h5>
                    </div>
                </a>
            </div>
        <div class="sidebarComp">
            <div class="listTitle rounded-top"><i class="fas fa-dog"></i> Dog list</div>
            <table class="sidebarlist rounded-bottom">
                <script>var j = 0;</script>
                <% for (var pet of dog){%>
                    <tr id = "asdasd" onmouseover="mouseOver(this.id)" onmouseout="mouseOut(this.id)"  class ="dogtoshow allowdog">
                        <script>    
                            document.getElementById("asdasd").id = j;
                            j++;
                        </script>
                        <td class="dognameinlist" ><a href="/doginfo?topic=<%=pet.id%>" style="text-decoration:none;color:rgb(184, 108, 37);"><div style="height:100%;width:100%;"><%=pet.name%></div> </a> </td>
                        <td class="dognameindot"><a href="/doginfo?topic=<%=pet.id%>"style="text-decoration:none;color:rgb(184, 108, 37);" ><i class="fas fa-ellipsis-h"></i> </a></td>
                    </tr>   
                <% } %>
            <tr id = "asdasd" class ="morebtn" onclick="allowdog()" onmouseover="mouseOver(this.id)" onmouseout="mouseOut(this.id)">
                <script>document.getElementById("asdasd").id = ++j;</script>
                <td class="dognameinlist"><a href="#" style="color:rgb(184, 108, 37);text-decoration:none;" ><h5>more</h5></a></td>
                <td class="dognameindot"><a href="#"style="color:rgb(184, 108, 37);" style="text-decoration:none;"><i class="fas fa-ellipsis-h"></i></a></td>
            </tr>
            <tr id = "asdasd" class ="lessbtn" onclick="disallowdog()" onmouseover="mouseOver(this.id)" onmouseout="mouseOut(this.id)">
                <script>document.getElementById("asdasd").id = ++j;</script>
                <td class="dognameinlist"><a href="#" style="text-decoration:none;color:rgb(184, 108, 37);"><h5>less</h5></div></td>
                <td class="dognameindot"><a href="#"style="color:rgb(184, 108, 37);" ><i class="fas fa-ellipsis-h"></i></a></td>
            </tr>
            <tr id = "asdasd" onmouseover="mouseOver(this.id)" onmouseout="mouseOut(this.id)">
                <script>document.getElementById("asdasd").id = ++j;</script>
                <td class="dognameinlist"  > <a href="/addDog" style="color:rgb(184, 108, 37);text-decoration:none;" >Add dog</a></td>
                <td class="dognameindot"><a href="/addDog" style="text-decoration:none;color:rgb(184, 108, 37);"><i class="fas fa-plus"></a></i></td>
            </tr>
                        
        </table>
        </div>
        <div class="sidebarComp">
                <script>    
                        
                        j++;
                    </script>
            <div class="listTitle rounded-top"><i class="fas fa-star"></i> Favourite Hosp</div>
            <div>
                <table class="sidebarlist rounded-bottom">
                        <% for (var infohos of info.hos){%>
                            <tr id = "asdasd" onmouseover="mouseOver(this.id)" onmouseout="mouseOut(this.id)" class = "hostoshow allowhos"  >
                                <script>    
                                    document.getElementById("asdasd").id = j;
                                    j++;
                                </script>
                                <td class="dognameinlist" ><a href="/hosinfo?topic=<%=infohos%>" style="text-decoration:none;" ><div style="height:100%;width:100%;color:rgb(184, 108, 37);"><%=infohos%></div> </a> </td>
                                <td class="dognameindot"><a href="/hosinfo?topic=<%=infohos%>" style="color:rgb(184, 108, 37);"><i class="fas fa-ellipsis-h"></i> </a></td>
                            </tr>   
                        <% } %>
                        <tr id = "asdasd" class ="morehosbtn" onclick="allowhos()" onmouseover="mouseOver(this.id)" onmouseout="mouseOut(this.id)">
                            <script>document.getElementById("asdasd").id = ++j;</script>
                            <td class="dognameinlist"><a href="#" style="color:rgb(184, 108, 37);text-decoration:none;"  ><h5 style="color:rgb(184, 108, 37);" >more</h5></a></td>
                            <td class="dognameindot"><a href="#"style="color:rgb(184, 108, 37);" ><i class="fas fa-ellipsis-h"></i></a></td>
                        </tr>
                        <tr id = "asdasd" class ="lesshosbtn" onclick="disallowhos()" onmouseover="mouseOver(this.id)" onmouseout="mouseOut(this.id)">
                            <script>document.getElementById("asdasd").id = ++j;</script>
                            <td class="dognameinlist"><a href="#" style="color:rgb(184, 108, 37);" ><h5>less</h5></div></td>
                            <td class="dognameindot"><a href="#" style="color:rgb(184, 108, 37);" ><i  class="fas fa-ellipsis-h"></i></a></td>
                        </tr>
                </table>
                
            </div>
            <div style="margin-top:10px;" class="listTitle rounded-top"><i class="fas fa-star"></i> Favourite Vet</div>
            <div>
               
                <table class="sidebarlist rounded-bottom">
                    <% for (var infovet of info.vet){%>
                        <tr id = "asdasd" onmouseover="mouseOver(this.id)" onmouseout="mouseOut(this.id)" class = "vettoshow allowvet">
                            <script>    
                                document.getElementById("asdasd").id = j;
                                j++;
                            </script>
                            <td class="dognameinlist" ><a href="/vetinfo?topic=<%=infovet%>" style="text-decoration:none;"><div style="height:100%;width:100%;text-decoration:none;color:rgb(184, 108, 37);"><%=infovet%></div> </a> </td>
                            <td class="dognameindot"><a href="/vetinfo?topic=<%=infovet%>" style="color:rgb(184, 108, 37);" ><i class="fas fa-ellipsis-h"></i> </a></td>
                        </tr>   
                    <% } %>
                    <tr id = "asdasd" class ="morevetbtn" onclick="allowvet()" onmouseover="mouseOver(this.id)" onmouseout="mouseOut(this.id)">
                        <script>document.getElementById("asdasd").id = ++j;</script>
                        <td class="dognameinlist"><a href="#" style="color:rgb(184, 108, 37);text-decoration: none" ><h5>more</h5></a></td>
                        <td class="dognameindot"><a href="#"style="color:rgb(184, 108, 37);"><i class="fas fa-ellipsis-h"></i></a></td>
                    </tr>
                    <tr id = "asdasd" class ="lessvetbtn" onclick="disallowvet()" onmouseover="mouseOver(this.id)" onmouseout="mouseOut(this.id)">
                        <script>document.getElementById("asdasd").id = ++j;</script>
                        <td class="dognameinlist"><a href="#" style="color:rgb(184, 108, 37);text-decoration: none"  ><h5>less</h5></div></td>
                        <td class="dognameindot"><a href="#" style="color:rgb(184, 108, 37);" ><i class="fas fa-ellipsis-h"></i></a></td>
                    </tr>
            </table>
            </div>
        </div>
        <div class="sidebarComp">
            <a style="text-decoration:none;" href="/vet" class = "listbtn"><div class="listTitle rounded"><i class="fas fa-user-md"></i> Vet list</div></a>
        </div>
        <div class="sidebarComp">
            <a style="text-decoration:none;" href="/hosp" class = "listbtn"> <div class="listTitle rounded"><i class="fas fa-briefcase-medical"></i> Hospital list</div></a>
        </div>
        <div class="sidebarComp">
            <!-- <a href="AnalyzeReg.html"></a> -->
            <a style="text-decoration:none;" href="#" data-toggle="modal"  data-target="#myModal">
                <div id="analyzebtn" class="listTitle rounded">
                    <h5 class = "listbtn"><i class="fas fa-search"></i> Analyze</h5>
                </div>
            </a>
        </div>

        
    </div>
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content"> 
        <!-- Modal Header -->
        <form action="/analyzeReg" method="POST">

            <div class="form-group modal-title">
                <label for="">Choose your Dog:</label>
                <div class = "modal-body">
                    <select required class="custom-select rect-field" name="dog" id="pet">
                    
                        <option value="" disabled selected>Select your pet</option>
                        <% for (var pet of dog){%>
                        <option required >
                            <%= pet.name%>
                        </option>
                        <% } %>
    
                    </select>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary ">Analyze</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>


        </form>
        
      </div>
    </div>
  </div>
     <!--  Regis Modal Start------------------------------------------------------------------------------------------------->
     <div class="modal fade" id="Updatemodal" tabindex="-1" role="dialog" aria-labelledby="UpdateModalLabel"
     aria-hidden="true">
     <div class="modal-dialog" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="UpdateModalLabel">Register</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <div class="container-fluid">
                     <div class="row">
                         <!-- <div class="col-1"></div> -->
                         <div class="col-12">
                             <form action="/editprofile" method="POST" enctype="multipart/form-data">

                                 <div class="form-group">
                                     <div class="input-group">
                                         <span class="input-group-btn">
                                             <span class="btn btn-default btn-file">
                                                 Browse… <input type="file" id="imgInp" onchange="chng()" accept="image/*"
                                                     name="uploaded_image2">
                                             </span>
                                         </span>

                                     </div>
                                     <img id='img-upload' />
                                 </div>

                                 <div class="form-group">
                                     <label for="username">Username:</label>
                                     <input required type="text" value="<%=info.username%>" pattern="[A-Za-z0-9]{1,15}" class="form-control" name="username"
                                         placeholder="username">

                                 </div>

                                 <div class="form-group">
                                     <label for="email">Email:</label>
                                     <input required type="email" value="<%=info.email%>" class="form-control" name="email" placeholder="email">
                                 </div>

                                 
                                 <div class="modal-footer">
                                     <div class="row ">
                                         <button type="submit" class="col btn btn-primary ">Confirm</button>
                                         <button type="submit" class="col btn btn-secondary" data-dismiss="modal">Cancel</button>
                                     </div>
                                 </div>
                             </form>
                         </div>
                     </div>
                 </div>
             </div>

         </div>
     </div>
 </div>
 <!--  Regis Modal End------------------------------------------------------------------------------------------------->
<script>
    
    var dogtoshow = document.getElementsByClassName("dogtoshow");
    var hostoshow = document.getElementsByClassName("hostoshow");
    var vettoshow = document.getElementsByClassName("vettoshow");

    var morebtn = document.getElementsByClassName("morebtn");
    var morehosbtn = document.getElementsByClassName("morehosbtn");
    var morevetbtn = document.getElementsByClassName("morevetbtn");

    var lessbtn = document.getElementsByClassName("lessbtn");
    var lesshosbtn = document.getElementsByClassName("lesshosbtn");
    var lessvetbtn = document.getElementsByClassName("lessvetbtn");

    lessbtn[0].style.display = "none";
    lesshosbtn[0].style.display = "none";
    lessvetbtn[0].style.display = "none";
    
    // inithos();
    
    initlist();
    
    function mouseOver(j){
        document.getElementById(j).style.backgroundColor = "rgb(260, 245, 220)";  
        document.getElementById(j).style.fontWeight = "bold";  
    }
    function mouseOut(j){
        document.getElementById(j).style.backgroundColor = "rgb(255, 238, 212)";
        document.getElementById(j).style.fontWeight = "normal";  
    }
    function initlist(){
        if(dogtoshow.length<4){
                morebtn[0].style.display = "none";
            }
            else{
                morebtn[0].style.display = "table-row";
            }
            if(hostoshow.length<4){
                morehosbtn[0].style.display = "none";
            }
            else{
                morehosbtn[0].style.display = "table-row";
            }            
            if(vettoshow.length<4){
                morevetbtn[0].style.display = "none";
            }
            else{
                morevetbtn[0].style.display = "table-row";
                
            }
        for(var e = 0;e<dogtoshow.length;e++){
            if(e>2){
                dogtoshow[e].style.display = "none"
            }
        }   
        for(var k = 0;k<hostoshow.length;k++){
            if(k>2){
                hostoshow[k].style.display = "none"
            }
        }
        for(var j = 0;j<vettoshow.length;j++){
            if(j>2){
                vettoshow[j].style.display = "none"
            }
        }
        

    
        
    }
    
    
    function allowdog(){
        var allowing = document.getElementsByClassName("allowdog");
        jQuery(".allowdog").css("display", "table-row");
        morebtn[0].style.display = "none"
        jQuery(".lessbtn").css("display", "table-row");
        
    }
    function disallowdog(){
        var dogtoshow = document.getElementsByClassName("dogtoshow");
        for(var e = 0;e<dogtoshow.length;e++){
            if(e>2){
                dogtoshow[e].style.display = "none";
            }
        }
        // jQuery(".allowdog").css("display", "table-row");
        lessbtn[0].style.display = "none"
        jQuery(".morebtn").css("display", "table-row");
        
    }
    
    function allowhos(){
        var allowing = document.getElementsByClassName("allowhos");
        jQuery(".allowhos").css("display", "table-row");
        morehosbtn[0].style.display = "none"
        jQuery(".lesshosbtn").css("display", "table-row");
        
        
    }
    function disallowhos(){
        var hostoshow = document.getElementsByClassName("hostoshow");
        for(var k = 0;k<hostoshow.length;k++){
            if(k>2){
                hostoshow[k].style.display = "none";
            }
        }
        // jQuery(".allowdog").css("display", "table-row");
        lesshosbtn[0].style.display = "none"
        jQuery(".morehosbtn").css("display", "table-row");
    }

    function allowvet(){
        var allowing = document.getElementsByClassName("allowvet");
        jQuery(".allowvet").css("display", "table-row");
        morevetbtn[0].style.display = "none"
        jQuery(".lessvetbtn").css("display", "table-row");
        
        
    }
    function disallowvet(){
        var vettoshow = document.getElementsByClassName("vettoshow");
        for(var k = 0;k<vettoshow.length;k++){
            if(k>2){
                vettoshow[k].style.display = "none";
            }
        }
        // jQuery(".allowdog").css("display", "table-row");
        lessvetbtn[0].style.display = "none"
        jQuery(".morevetbtn").css("display", "table-row");
    }


    
</script>