<div class="col-3 " id="sidebar1">
    <div class ="rounded-bottom" id="sidebar">
        <div class="sidebarComp">
            <img id="profile" src="/image/user/<%=info.avatar%>"> <!-- userpics----->
            <h5 id=username><%=info.username%></h5> <!-- username----->
            <div><%=dog.length%> dogs</div>
        </div>
        
        <div class="sidebarComp">
            <div class="listTitle rounded-top"><i class="fas fa-dog"></i> Dog list</div>
            <table class="sidebarlist rounded-bottom">
                <script>var j = 0;</script>
                <% for (var pet of dog){%>
                    <tr id = "asdasd" onmouseover="mouseOver(this.id)" onmouseout="mouseOut(this.id)"  class ="dogtoshow allowdog">
                        <script>    
                            document.getElementById("asdasd").id = j;
                            j++;
                        </script>
                        <td class="dognameinlist" ><a href="/doginfo?topic=<%=pet.id%>" style="text-decoration:none;"><div style="height:100%;width:100%;"><%=pet.name%></div> </a> </td>
                        <td class="dognameindot"><a href="/doginfo?topic=<%=pet.id%>"><i class="fas fa-ellipsis-h"></i> </a></td>
                    </tr>   
                <% } %>
            <tr id = "asdasd" class ="morebtn" onclick="allowdog()" onmouseover="mouseOver(this.id)" onmouseout="mouseOut(this.id)">
                <script>document.getElementById("asdasd").id = ++j;</script>
                <td class="dognameinlist"><a href="#" style="text-decoration:none;"><h5>more</h5></a></td>
                <td class="dognameindot"><a href="#" style="text-decoration:none;"><i class="fas fa-ellipsis-h"></i></a></td>
            </tr>
            <tr id = "asdasd" class ="lessbtn" onclick="disallowdog()" onmouseover="mouseOver(this.id)" onmouseout="mouseOut(this.id)">
                <script>document.getElementById("asdasd").id = ++j;</script>
                <td class="dognameinlist"><a href="#" style="text-decoration:none;"><h5>less</h5></div></td>
                <td class="dognameindot"><a href="#"><i class="fas fa-ellipsis-h"></i></a></td>
            </tr>
            <tr id = "asdasd" onmouseover="mouseOver(this.id)" onmouseout="mouseOut(this.id)">
                <script>document.getElementById("asdasd").id = ++j;</script>
                <td class="dognameinlist" > <a href="/addDog" style="text-decoration:none;">Add dog</a></td>
                <td class="dognameindot"><a href="/addDog"><i class="fas fa-plus"></a></i></td>
            </tr>
                        
        </table>
        </div>
        <div class="sidebarComp">
                <script>    
                        
                        j++;
                    </script>
            <div class="listTitle rounded-top"><i class="fas fa-star"></i> Favourite Hosp</div>
            <div>
                <table class="sidebarlist rounded-bottom">
                        <% for (var infohos of info.hos){%>
                            <tr id = "asdasd" onmouseover="mouseOver(this.id)" onmouseout="mouseOut(this.id)"  >
                                <script>    
                                    document.getElementById("asdasd").id = j;
                                    j++;
                                </script>
                                <td class="dognameinlist" ><a href="/hosinfo?topic=<%=infohos%>" style="text-decoration:none;"><div style="height:100%;width:100%;"><%=infohos%></div> </a> </td>
                                <td class="dognameindot"><a href="/hosinfo?topic=<%=infohos%>"><i class="fas fa-ellipsis-h"></i> </a></td>
                            </tr>   
                        <% } %>
                </table>
                
            </div>
            <div style="margin-top:10px;" class="listTitle rounded-top"><i class="fas fa-star"></i> Favourite Vet</div>
            <div>
               
                <table class="sidebarlist rounded-bottom">
                    <% for (var infovet of info.vet){%>
                        <tr id = "asdasd" onmouseover="mouseOver(this.id)" onmouseout="mouseOut(this.id)"  >
                            <script>    
                                document.getElementById("asdasd").id = j;
                                j++;
                            </script>
                            <td class="dognameinlist" ><a href="/vetinfo?topic=<%=infovet%>" style="text-decoration:none;"><div style="height:100%;width:100%;"><%=infovet%></div> </a> </td>
                            <td class="dognameindot"><a href="/vetinfo?topic=<%=infovet%>"><i class="fas fa-ellipsis-h"></i> </a></td>
                        </tr>   
                    <% } %>
            </table>
            </div>
        </div>
        <div class="sidebarComp">
            <a style="text-decoration:none;" href="/vet" class = "listbtn"><div class="listTitle rounded"><i class="fas fa-user-md"></i> Vet list</div></a>
        </div>
        <div class="sidebarComp">
            <a style="text-decoration:none;" href="/hosp" class = "listbtn"> <div class="listTitle rounded"><i class="fas fa-briefcase-medical"></i> Hospital list</div></a>
        </div>
        <div class="sidebarComp">
            <!-- <a href="AnalyzeReg.html"></a> -->
            <a style="text-decoration:none;" href="#" data-toggle="modal"  data-target="#myModal">
                <div id="analyzebtn" class="listTitle rounded">
                    <h5 class = "listbtn"><i class="fas fa-search"></i> Analyze</h5>
                </div>
            </a>
        </div>

        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
              
                <!-- Modal Header -->
                <form action="/analyzeReg" method="POST">

                    <div class="form-group">
                            <label for="">Choose your Dog:</label>
                            <select required class="custom-select rect-field" name="dog" id="pet">
                                
                                <option value="" disabled selected>Select your pet</option>
                                <% for (var pet of dog){%>
                                <option required >
                                    <%= pet.name%>
                                </option>
                                <% } %>

                            </select>
                        </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary ">Analyze</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>


                </form>
                
              </div>
            </div>
          </div>
    </div>
</div>
<script>
    var dogtoshow = document.getElementsByClassName("dogtoshow");
    var morebtn = document.getElementsByClassName("morebtn");
    var lessbtn = document.getElementsByClassName("lessbtn");
    lessbtn[0].style.display = "none"
    for(var e = 0;e<dogtoshow.length;e++){
        if(e>2){
            dogtoshow[e].style.display = "none"
        }
    }
    if(dogtoshow.length<4){
        morebtn[0].style.display = "none"
    }
    else{
        jQuery(".morebtn").css("display", "table-row");
    }
    function mouseOver(j){
        document.getElementById(j).style.backgroundColor = "rgb(260, 245, 220)";  
        document.getElementById(j).style.fontWeight = "bold";  
    }
    function mouseOut(j){
        document.getElementById(j).style.backgroundColor = "rgb(255, 238, 212)";
        document.getElementById(j).style.fontWeight = "normal";  

    }
    function allowdog(){
        var allowing = document.getElementsByClassName("allowdog");
        jQuery(".allowdog").css("display", "table-row");
        morebtn[0].style.display = "none"
        jQuery(".lessbtn").css("display", "table-row");
        
    }
    function disallowdog(){
        var dogtoshow = document.getElementsByClassName("dogtoshow");
        for(var e = 0;e<dogtoshow.length;e++){
            if(e>2){
                dogtoshow[e].style.display = "none"
            }
        }
        // jQuery(".allowdog").css("display", "table-row");
        lessbtn[0].style.display = "none"
        jQuery(".morebtn").css("display", "table-row");
        
    }
</script>